/.vscode
/geckodriver.log
/__pycache__
rs19_val/
railway_dataset/
wandb/
.env
.venv
env/
venv/
other/
ENV/
assets/models_pretrained/ultralyticsplus/yolov8s.pt
assets/models_pretrained/segformer/SegFormer_B3_1024_finetuned.pth
env.bak/
venv.bak/
models/
# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.vscode
RailNet_DT/
*.pth
test.py
check_labels.py
assets/crop/
datasets/
runs/
*.mp4
run_realtime_demo_final.py
.gitignore
process_video.py
overlay_video.py
generate_results.py
run_realtime_demo_pro.py
assets/models_pretrained/yolo/yolov8s.engine
assets/models_pretrained/yolo/yolov8s.onnx
segformer.onnx
finetune_segformer_ddp.py
run_realtime_demo.py
